version: "0.1.{build}"

skip_branch_with_pr: true
clone_depth: 1
clone_folder: C:/gopath/src/github.com/Vilnius-Lithuania-iGEM-2018/lipovision

platform:
  - MinGW_x64

environment:
  GOPATH: c:\gopath
  GOROOT: c:\go
  GOVERSION: 1.10.3
  TEST_EXTERNAL: 1
  APPVEYOR_SAVE_CACHE_ON_ERROR: false

cache:
  - C:\opencv -> appveyor_build_opencv.cmd

install:
  - rmdir %GOROOT% /s /q
  - appveyor DownloadFile https://storage.googleapis.com/golang/go%GOVERSION%.windows-amd64.msi
  - msiexec /i go%GOVERSION%.windows-amd64.msi /q
  - set PATH=%PATH%;%GOPATH%\bin
  - go get -u github.com/golang/dep/cmd/dep
  - go get github.com/golang/mock/gomock
  - go install github.com/golang/mock/mockgen
  - dep ensure
  - if not exist "C:\opencv" appveyor_build_opencv.cmd
  - set PATH=C:\Perl\site\bin;C:\Perl\bin;C:\Windows\system32;C:\Windows;C:\Windows\System32\Wbem;C:\Windows\System32\WindowsPowerShell\v1.0\;C:\Program Files\7-Zip;C:\Program Files\Microsoft\Web Platform Installer\;C:\Tools\PsTools;C:\Program Files (x86)\CMake\bin;C:\go\bin;C:\Tools\NuGet;C:\Program Files\LLVM\bin;C:\Tools\curl\bin;C:\ProgramData\chocolatey\bin;C:\Program Files (x86)\Yarn\bin;C:\Users\appveyor\AppData\Local\Yarn\bin;C:\Program Files\AppVeyor\BuildAgent\
  - set PATH=%PATH%;C:\mingw-w64\x86_64-6.3.0-posix-seh-rt_v5-rev1\mingw64\bin
  - set PATH=%PATH%;C:\Tools\GitVersion;C:\Program Files\Git LFS;C:\Program Files\Git\cmd;C:\Program Files\Git\usr\bin;C:\opencv\build\install\x64\mingw\bin;
  - echo %PATH%
  - echo %GOPATH%
  - go version
  - set GOCV_CAFFE_TEST_FILES=C:\opencv\testdata
  - set GOCV_TENSORFLOW_TEST_FILES=C:\opencv\testdata
  - go env

build_script:
  - set PATH=%PATH%;%GOPATH%\bin
  - go generate ./...
  - go test ./...
  - mkdir build
  - mkdir pkg
  - cd cmd\lipovision
  - windres -o lipovision-res.syso lipovision.rc
  - go build -ldflags '-s -w' -o ../../build/LipoVision.exe
  - robocopy /COPYALL /E C:/opencv/build/install/x64/mingw/bin/ build/ ^ 3
  - PowerShell -Command "& Compress-Archive -Path build/* -DestinationPath pkg/lipovision-%APPVEYOR_BUILD_VERSION%.zip"
  - PowerShell -Command "& Get-FileHash pkg/lipovision-%APPVEYOR_BUILD_VERSION%.zip -Algorithm MD5 > pkg/lipovision-%APPVEYOR_BUILD_VERSION%.md5"

artifacts:
  - path: pkg