<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>eNations MMOG</title>
    <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="./public/css/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <div class="row header-city-background">
        <div class="xs-12 header-container">
          <div class="server-information">
            <div>
              <div class="server-time">
                  <i class="far fa-clock"></i>
                  <span class="time">21:45</span>
              </div>
              <div class="server-days">
                <i class="fas fa-globe-africa"></i>
                <span>Day 165</span>
              </div>
          </div>
          </div>
          <div class="login-side-section">
            <form class="form-inline login-form">
              <div class="form-group">
                <input class="form-control login-input" type="text" placeholder="username"/>
              </div>
              <div class="form-group">
                <input class="form-control login-input" type="password" placeholder="password"/>
              </div>
              <a class="myButton">Login</a>
              <div class="line-break"></div>
              <div class="form-group remember-wrapper">
                <input type="checkbox" /> <span>Remember me&nbsp;</span>
                <a class="forgot-password" href="#">Forgot password?</a>
              </div>
              <div class="line-break"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="row central-container">
        <div class="col-12 col-md-6 old-book-container">
          <h2>Create your Citizen</h2>
          <form>
            <div class="form-group">
              <label>Username</label>
              <input type="text" placeholder="Citizen name..."/>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" placeholder="Enter valid email..."/>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" placeholder="Enter secure password..."/>
            </div>
            <div class="form-group">
                <label>Citizenship</label>
                <select>
                  <option>Algeria</option>
                  <option>Lithuania</option>
                </select>
            </div>
                <small class="form-text text-muted">Be aware that changing citizenship in game is restricted. Only country presidents are able to grant citizenships once per cadention</small>
            <a class="signupButton">Create Citizen</a>
          </form>
        </div>
        <div class="col-12 col-md-6 rankings-treasure-map">
        </div>
      </div>
      <div class="row soldiers-background">
        <div class="col-xs-12">
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>